<a href="https://colab.research.google.com/github/Dennieeeee/100-Days-of-Code/blob/main/%E7%88%AC%E8%99%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import requests
import pandas as pd
import random # randomly pick a place if we don't know where we want to visit

# Scrape vacation list and save it to a csv file

In [2]:
url = 'https://www.cnn.com/travel/article/china-beautiful-places/index.html'

In [3]:
response = requests.get(url)
web_page = response.text

In [4]:
soup = BeautifulSoup(web_page, 'html.parser')

In [5]:
title = soup.find('h3')
print(title)

<h3>1. Anhui: Hongcun Ancient Village (安徽宏村)</h3>

In [6]:

'''
for tag in tags:
  x = print(tag.contents[0])
  names.append(x)
'''

'\nfor tag in tags:\n  x = print(tag.contents[0])\n  names.append(x)\n'

In [7]:
all_title = soup.find_all('h3')
places = []
for i in all_title:
  x = i.get_text()
  places.append(x)

In [8]:
type(places)

list

In [9]:
dict = {'location':places}

In [10]:

df = pd.DataFrame(dict)

In [11]:
df.head()

                                            location
0           1. Anhui: Hongcun Ancient Village (安徽宏村)
1                   2. Anhui: Mount Huangshan (安徽黄山)
2                      3. Fujian: Mount Wuyi (福建武夷山)
3                    4. Fujian: Xiapu Mudflat (福建霞浦)
4  5. Gansu: Echoing Sand Mountain and Crescent L...

In [12]:
df[['num','places']] = df['location'].str.split('.', n=1, expand=True)

In [13]:
df[['city','places2']] = df['places'].str.split(':', n=1, expand=True)

In [14]:
df[['English_name', 'Chinese_name']] = df['places2'].str.split('(', n=1, expand=True)

In [15]:
df[['chi','sign']] = df['Chinese_name'].str.split(')', n=1, expand=True)

In [16]:
df.columns

Index(['location', 'num', 'places', 'city', 'places2', 'English_name',
       'Chinese_name', 'chi', 'sign'],
      dtype='object')

In [17]:
df.head(2)

                                   location num  ...   chi sign
0  1. Anhui: Hongcun Ancient Village (安徽宏村)   1  ...  安徽宏村
1          2. Anhui: Mount Huangshan (安徽黄山)   2  ...  安徽黄山

[2 rows x 9 columns]

In [18]:
feature_drop = ['location', 'num', 'places', 'places2','Chinese_name','sign']
#df.drop(['location', 'num', 'places', 'places2'], axis=1)
df1 = df.drop(feature_drop, axis=1)
df1.head(2)

     city               English_name   chi
0   Anhui   Hongcun Ancient Village   安徽宏村
1   Anhui           Mount Huangshan   安徽黄山

In [19]:
df1=df1.rename(columns={'chi':'chinese_name'})

In [20]:
# convert all column names to lower case
df1.rename(columns=lambda x:x.lower(), inplace=True)
df1.head()

      city                                       english_name   chinese_name
0    Anhui                           Hongcun Ancient Village            安徽宏村
1    Anhui                                   Mount Huangshan            安徽黄山
2   Fujian                                        Mount Wuyi           福建武夷山
3   Fujian                                     Xiapu Mudflat            福建霞浦
4    Gansu   Echoing Sand Mountain and Crescent Lake, Dunh...  甘肃省敦煌市鸣沙山和月牙泉

In [21]:
type(df1)

pandas.core.frame.DataFrame

In [22]:
df1.shape

(40, 3)

In [23]:
df1.to_csv('vacation_list.csv')

In [24]:
# randomly select a row
df1.sample()

       city        english_name chinese_name
29   Shanxi   Yungang Grottoes        山西云冈石窟

# Chapter 2

In [25]:
url = 'http://www.pythonscraping.com/pages/warandpeace.html'

In [26]:
info = urllib.request.urlopen(url).read()
bs = BeautifulSoup(info, 'html.parser')

In [27]:
nameList = bs.find_all(text='the prince')
len(nameList)

7

In [28]:
#nameList = bs.find_all('span', {'class':{'green','red'}}) #finds all the green and red text
nameList = bs.find_all('span', {'class':'green'}) #finds all the green text

In [29]:
name_list = []
for i in nameList:
  x = i.getText()
  name_list.append(i)

In [30]:
name_list

[<span class="green">Anna
 Pavlovna Scherer</span>, <span class="green">Empress Marya
 Fedorovna</span>, <span class="green">Prince Vasili Kuragin</span>, <span class="green">Anna Pavlovna</span>, <span class="green">St. Petersburg</span>, <span class="green">the prince</span>, <span class="green">Anna Pavlovna</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the prince</span>, <span class="green">the prince</span>, <span class="green">the prince</span>, <span class="green">Prince Vasili</span>, <span class="green">Anna Pavlovna</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the prince</span>, <span class="green">Wintzingerode</span>, <span class="green">King of Prussia</span>, <span class="green">le Vicomte de Mortemart</span>, <span class="green">Montmorencys</span>, <span class="green">Rohans</span>, <span class="green">Abbe Morio</span>, <span class="green">the Emperor</span>, <span class="green">the prince</span>, <span class="green">Prince Vasili</span>, <span class="green">Dowager Empress Marya Fedorovna</span>, <span class="green">the baron</span>, <span class="green">Anna Pavlovna</span>, <span class="green">the Empress</span>, <span class="green">the Empress</span>, <span class="green">Anna Pavlovna's</span>, <span class="green">Her Majesty</span>, <span class="green">Baron
 Funke</span>, <span class="green">The prince</span>, <span class="green">Anna
 Pavlovna</span>, <span class="green">the Empress</span>, <span class="green">The prince</span>, <span class="green">Anatole</span>, <span class="green">the prince</span>, <span class="green">The prince</span>, <span class="green">Anna
 Pavlovna</span>, <span class="green">Anna Pavlovna</span>]

In [31]:
type(nameList)

bs4.element.ResultSet

## Navigating Trees

In [32]:
url = 'http://www.pythonscraping.com/pages/page3.html'
info = urllib.request.urlopen(url).read()
bs = BeautifulSoup(info, 'html.parser')

Dealing with children and other descendants

In [33]:
for i in bs.find('table', {'id':'giftList'}).children:
  print(i)

<tr><th>
Item Title
</th><th>
Description
</th><th>
Cost
</th><th>
Image
</th></tr>


<tr class="gift" id="gift1"><td>
Vegetable Basket
</td><td>
This vegetable basket is the perfect gift for your health conscious (or overweight) friends!
<span class="excitingNote">Now with super-colorful bell peppers!</span>
</td><td>
$15.00
</td><td>
<img src="../img/gifts/img1.jpg"/>
</td></tr>


<tr class="gift" id="gift2"><td>
Russian Nesting Dolls
</td><td>
Hand-painted by trained monkeys, these exquisite dolls are priceless! And by "priceless," we mean "extremely expensive"! <span class="excitingNote">8 entire dolls per set! Octuple the presents!</span>
</td><td>
$10,000.52
</td><td>
<img src="../img/gifts/img2.jpg"/>
</td></tr>


<tr class="gift" id="gift3"><td>
Fish Painting
</td><td>
If something seems fishy about this painting, it's because it's a fish! <span class="excitingNote">Also hand-painted by trained monkeys!</span>
</td><td>
$10,005.00
</td><td>
<img src="../img/gifts/img3.jpg"/>
</td></tr>


<tr class="gift" id="gift4"><td>
Dead Parrot
</td><td>
This is an ex-parrot! <span class="excitingNote">Or maybe he's only resting?</span>
</td><td>
$0.50
</td><td>
<img src="../img/gifts/img4.jpg"/>
</td></tr>


<tr class="gift" id="gift5"><td>
Mystery Box
</td><td>
If you love suprises, this mystery box is for you! Do not place on light-colored surfaces. May cause oil staining. <span class="excitingNote">Keep your friends guessing!</span>
</td><td>
$1.50
</td><td>
<img src="../img/gifts/img6.jpg"/>
</td></tr>

Deal with silbings

In [34]:
for i in bs.find('table', {'id':'giftList'}).tr.next_siblings:
  print(i)

<tr class="gift" id="gift1"><td>
Vegetable Basket
</td><td>
This vegetable basket is the perfect gift for your health conscious (or overweight) friends!
<span class="excitingNote">Now with super-colorful bell peppers!</span>
</td><td>
$15.00
</td><td>
<img src="../img/gifts/img1.jpg"/>
</td></tr>


<tr class="gift" id="gift2"><td>
Russian Nesting Dolls
</td><td>
Hand-painted by trained monkeys, these exquisite dolls are priceless! And by "priceless," we mean "extremely expensive"! <span class="excitingNote">8 entire dolls per set! Octuple the presents!</span>
</td><td>
$10,000.52
</td><td>
<img src="../img/gifts/img2.jpg"/>
</td></tr>


<tr class="gift" id="gift3"><td>
Fish Painting
</td><td>
If something seems fishy about this painting, it's because it's a fish! <span class="excitingNote">Also hand-painted by trained monkeys!</span>
</td><td>
$10,005.00
</td><td>
<img src="../img/gifts/img3.jpg"/>
</td></tr>


<tr class="gift" id="gift4"><td>
Dead Parrot
</td><td>
This is an ex-parrot! <span class="excitingNote">Or maybe he's only resting?</span>
</td><td>
$0.50
</td><td>
<img src="../img/gifts/img4.jpg"/>
</td></tr>


<tr class="gift" id="gift5"><td>
Mystery Box
</td><td>
If you love suprises, this mystery box is for you! Do not place on light-colored surfaces. May cause oil staining. <span class="excitingNote">Keep your friends guessing!</span>
</td><td>
$1.50
</td><td>
<img src="../img/gifts/img6.jpg"/>
</td></tr>

Dealing with parents

In [35]:
print(bs.find('img', {'src':'../img/gifts/img1.jpg'}).parent.previous_sibling.get_text())

$15.00

# Chapter 3 - Web Crawler

In [36]:
import re

In [37]:
url = 'http://en.wikipedia.org/wiki/Kevin_Bacon'
data = urllib.request.urlopen(url).read()
fhand = BeautifulSoup(data, 'html.parser')


The below code will output a list of links that we need to go into.

In [38]:
links = []
for link in fhand.find('div', {'id':'bodyContent'}).find_all('a', href=re.compile('^(/wiki/)((?!:).)*$')):
  if 'href' in link.attrs:
    x = link.attrs['href']
    links.append(x)
print(links)

['/wiki/Kevin_Bacon_(disambiguation)', '/wiki/Philadelphia,_Pennsylvania', '/wiki/Kyra_Sedgwick', '/wiki/Sosie_Bacon', '/wiki/Edmund_Bacon_(architect)', '/wiki/Michael_Bacon_(musician)', '/wiki/Holly_Near', '/wiki/Footloose_(1984_film)', '/wiki/JFK_(film)', '/wiki/A_Few_Good_Men', '/wiki/Apollo_13_(film)', '/wiki/Mystic_River_(film)', '/wiki/Balto_(film)', '/wiki/Sleepers', '/wiki/The_Woodsman_(2004_film)', '/wiki/Animal_House', '/wiki/Diner_(1982_film)', '/wiki/Tremors_(1990_film)', '/wiki/Crazy,_Stupid,_Love', '/wiki/Friday_the_13th_(1980_film)', '/wiki/Flatliners', '/wiki/The_River_Wild', '/wiki/Wild_Things_(film)', '/wiki/Stir_of_Echoes', '/wiki/Hollow_Man', '/wiki/Frost/Nixon_(film)', '/wiki/Black_Mass_(film)', '/wiki/Patriots_Day_(film)', '/wiki/Fox_Broadcasting_Company', '/wiki/The_Following', '/wiki/HBO', '/wiki/Taking_Chance', '/wiki/Golden_Globe_Award', '/wiki/Screen_Actors_Guild_Award', '/wiki/Primetime_Emmy_Award', '/wiki/I_Love_Dick_(TV_series)', '/wiki/Golden_Globe_Award_for_Best_Actor_%E2%80%93_Television_Series_Musical_or_Comedy', '/wiki/The_Guardian', '/wiki/Academy_Award', '/wiki/Hollywood_Walk_of_Fame', '/wiki/Social_networking_service', '/wiki/Six_Degrees_of_Kevin_Bacon', '/wiki/SixDegrees.org', '/wiki/Philadelphia', '/wiki/Edmund_Bacon_(architect)', '/wiki/Julia_R._Masterman_High_School', '/wiki/Pennsylvania_Governor%27s_School_for_the_Arts', '/wiki/Bucknell_University', '/wiki/Glory_Van_Scott', '/wiki/Circle_in_the_Square', '/wiki/Nancy_Mills', '/wiki/Cosmopolitan_(magazine)', '/wiki/Fraternities_and_sororities', '/wiki/Animal_House', '/wiki/Search_for_Tomorrow', '/wiki/Guiding_Light', '/wiki/Friday_the_13th_(1980_film)', '/wiki/Phoenix_Theater', '/wiki/Flux', '/wiki/Second_Stage_Theatre', '/wiki/Obie_Award', '/wiki/Forty_Deuce', '/wiki/Slab_Boys', '/wiki/Sean_Penn', '/wiki/Val_Kilmer', '/wiki/Barry_Levinson', '/wiki/Diner_(1982_film)', '/wiki/Steve_Guttenberg', '/wiki/Daniel_Stern_(actor)', '/wiki/Mickey_Rourke', '/wiki/Tim_Daly', '/wiki/Ellen_Barkin', '/wiki/Footloose_(1984_film)', '/wiki/James_Dean', '/wiki/Rebel_Without_a_Cause', '/wiki/Mickey_Rooney', '/wiki/Judy_Garland', '/wiki/Typecasting_(acting)', '/wiki/John_Hughes_(filmmaker)', '/wiki/She%27s_Having_a_Baby', '/wiki/The_Big_Picture_(1989_film)', '/wiki/Tremors_(1990_film)', '/wiki/Joel_Schumacher', '/wiki/Flatliners', '/wiki/Elizabeth_Perkins', '/wiki/He_Said,_She_Said_(film)', '/wiki/The_New_York_Times', '/wiki/Oliver_Stone', '/wiki/JFK_(film)', '/wiki/A_Few_Good_Men_(film)', '/wiki/Michael_Greif', '/wiki/Golden_Globe_Award', '/wiki/The_River_Wild', '/wiki/Meryl_Streep', '/wiki/Murder_in_the_First_(film)', '/wiki/Blockbuster_(entertainment)', '/wiki/Apollo_13_(film)', '/wiki/Sleepers_(film)', '/wiki/Picture_Perfect_(1997_film)', '/wiki/Losing_Chase', '/wiki/Digging_to_China', '/wiki/Payola', '/wiki/Telling_Lies_in_America_(film)', '/wiki/Wild_Things_(film)', '/wiki/Stir_of_Echoes', '/wiki/David_Koepp', '/wiki/Cannes_Film_Festival', '/wiki/Paul_Verhoeven', '/wiki/Hollow_Man', '/wiki/Colin_Firth', '/wiki/Rachel_Blanchard', '/wiki/M%C3%A9nage_%C3%A0_trois', '/wiki/Where_the_Truth_Lies', '/wiki/Atom_Egoyan', '/wiki/MPAA', '/wiki/MPAA_film_rating_system', '/wiki/Sean_Penn', '/wiki/Tim_Robbins', '/wiki/Clint_Eastwood', '/wiki/Mystic_River_(film)', '/wiki/The_Woodsman_(2004_film)', '/wiki/HBO_Films', '/wiki/Taking_Chance', '/wiki/Michael_Strobl', '/wiki/Desert_Storm', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Male_Actor_in_a_Miniseries_or_Television_Movie', '/wiki/Toronto_Film_Festival', '/wiki/Matthew_Vaughn', '/wiki/Sebastian_Shaw_(comics)', '/wiki/Dustin_Lance_Black', '/wiki/8_(play)', '/wiki/Perry_v._Brown', '/wiki/Proposition_8', '/wiki/Charles_J._Cooper', '/wiki/Wilshire_Ebell_Theatre', '/wiki/American_Foundation_for_Equal_Rights', '/wiki/The_Following', '/wiki/Saturn_Award_for_Best_Actor_on_Television', '/wiki/Huffington_Post', '/wiki/Tremors_(1990_film)', '/wiki/EE_(telecommunications_company)', '/wiki/Kyra_Sedgwick', '/wiki/PBS', '/wiki/Lanford_Wilson', '/wiki/Lemon_Sky', '/wiki/Pyrates', '/wiki/Murder_in_the_First_(film)', '/wiki/The_Woodsman_(2004_film)', '/wiki/Loverboy_(2005_film)', '/wiki/Sosie_Bacon', '/wiki/Upper_West_Side', '/wiki/Manhattan', '/wiki/Tracy_Pollan', '/wiki/The_Times', '/wiki/Will.i.am', '/wiki/It%27s_a_New_Day_(Will.i.am_song)', '/wiki/Barack_Obama', '/wiki/Ponzi_scheme', '/wiki/Bernie_Madoff', '/wiki/Finding_Your_Roots', '/wiki/Henry_Louis_Gates', '/wiki/Six_Degrees_of_Kevin_Bacon', '/wiki/Trivia', '/wiki/Big_screen', '/wiki/Six_degrees_of_separation', '/wiki/Internet_meme', '/wiki/SixDegrees.org', '/wiki/Social_networking_service', '/wiki/Six_Degrees_of_Kevin_Bacon', '/wiki/IMDb', '/wiki/Paul_Erd%C5%91s', '/wiki/Erd%C5%91s_number', '/wiki/Paul_Erd%C5%91s', '/wiki/Erd%C5%91s_number', '/wiki/Erd%C5%91s%E2%80%93Bacon_number', '/wiki/The_Bacon_Brothers', '/wiki/Michael_Bacon_(musician)', '/wiki/Hollywood_Walk_of_Fame', '/wiki/Hollywood_Walk_of_Fame', '/wiki/Denver_Film_Festival', '/wiki/Phoenix_Film_Festival', '/wiki/Santa_Barbara_International_Film_Festival', '/wiki/Broadcast_Film_Critics_Association', '/wiki/Seattle_International_Film_Festival', '/wiki/Apollo_13_(film)', '/wiki/Mystic_River_(film)', '/wiki/Blockbuster_Entertainment_Awards', '/wiki/Blockbuster_Entertainment_Awards', '/wiki/Hollow_Man', '/wiki/Boston_Society_of_Film_Critics', '/wiki/Boston_Society_of_Film_Critics_Award_for_Best_Cast', '/wiki/Mystic_River_(film)', '/wiki/Bravo_Otto', '/wiki/Bravo_Otto', '/wiki/Footloose_(1984_film)', '/wiki/CableACE_Award', '/wiki/CableACE_Award', '/wiki/Losing_Chase', '/wiki/Chlotrudis_Awards', '/wiki/The_Woodsman_(2004_film)', '/wiki/Critics%27_Choice_Movie_Awards', '/wiki/Critics%27_Choice_Movie_Award_for_Best_Actor', '/wiki/Murder_in_the_First_(film)', '/wiki/Ghent_International_Film_Festival', '/wiki/Ghent_International_Film_Festival', '/wiki/The_Woodsman_(2004_film)', '/wiki/Giffoni_Film_Festival', '/wiki/Giffoni_Film_Festival', '/wiki/Digging_to_China', '/wiki/Mystic_River_(film)', '/wiki/Golden_Globe_Award', '/wiki/Golden_Globe_Award_for_Best_Supporting_Actor_%E2%80%93_Motion_Picture', '/wiki/The_River_Wild', '/wiki/Golden_Globe_Award_for_Best_Actor_%E2%80%93_Miniseries_or_Television_Film', '/wiki/Taking_Chance', '/wiki/Golden_Globe_Award_for_Best_Actor_%E2%80%93_Television_Series_Musical_or_Comedy', '/wiki/I_Love_Dick_(TV_series)', '/wiki/Independent_Spirit_Awards', '/wiki/Independent_Spirit_Award_for_Best_Male_Lead', '/wiki/The_Woodsman_(2004_film)', '/wiki/Mystic_River_(film)', '/wiki/MTV_Movie_%26_TV_Awards', '/wiki/MTV_Movie_Award_for_Best_Villain', '/wiki/Hollow_Man', '/wiki/Taking_Chance', '/wiki/The_Following', '/wiki/E!_People%27s_Choice_Awards', '/wiki/E!_People%27s_Choice_Awards', '/wiki/The_Following', '/wiki/E!_People%27s_Choice_Awards', '/wiki/The_Following', '/wiki/Primetime_Emmy_Award', '/wiki/Primetime_Emmy_Award_for_Outstanding_Lead_Actor_in_a_Limited_Series_or_Movie', '/wiki/Taking_Chance', '/wiki/Satellite_Awards', '/wiki/Satellite_Award_for_Best_Actor_%E2%80%93_Motion_Picture', '/wiki/The_Woodsman_(2004_film)', '/wiki/Satellite_Award_for_Best_Actor_%E2%80%93_Miniseries_or_Television_Film', '/wiki/Taking_Chance', '/wiki/Saturn_Award', '/wiki/Saturn_Award_for_Best_Actor_on_Television', '/wiki/The_Following', '/wiki/Saturn_Award_for_Best_Actor_on_Television', '/wiki/The_Following', '/wiki/Scream_Awards', '/wiki/Scream_Awards', '/wiki/Screen_Actors_Guild_Award', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Male_Actor_in_a_Supporting_Role', '/wiki/Murder_in_the_First_(film)', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Cast_in_a_Motion_Picture', '/wiki/Apollo_13_(film)', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Cast_in_a_Motion_Picture', '/wiki/Mystic_River_(film)', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Cast_in_a_Motion_Picture', '/wiki/Frost/Nixon_(film)', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Male_Actor_in_a_Miniseries_or_Television_Movie', '/wiki/Taking_Chance', '/wiki/Teen_Choice_Awards', '/wiki/Teen_Choice_Award_for_Choice_Movie_Villain', '/wiki/Beauty_Shop', '/wiki/Teen_Choice_Award_for_Choice_Movie_Villain', '/wiki/TV_Guide_Award', '/wiki/TV_Guide_Award', '/wiki/The_Following', '/wiki/Kevin_Bacon_filmography', '/wiki/List_of_actors_with_Hollywood_Walk_of_Fame_motion_picture_stars', '/wiki/The_Austin_Chronicle', '/wiki/Access_Hollywood', '/wiki/IMDb', '/wiki/Internet_Broadway_Database', '/wiki/Lortel_Archives', '/wiki/AllMovie', '/wiki/Kevin_Bacon_filmography', '/wiki/Losing_Chase', '/wiki/Loverboy_(2005_film)', '/wiki/Six_Degrees_of_Kevin_Bacon', '/wiki/Erd%C5%91s%E2%80%93Bacon_number', '/wiki/SixDegrees.org', '/wiki/Critics%27_Choice_Movie_Award_for_Best_Actor', '/wiki/Geoffrey_Rush', '/wiki/Jack_Nicholson', '/wiki/Ian_McKellen', '/wiki/Russell_Crowe', '/wiki/Russell_Crowe', '/wiki/Russell_Crowe', '/wiki/Daniel_Day-Lewis', '/wiki/Jack_Nicholson', '/wiki/Sean_Penn', '/wiki/Jamie_Foxx', '/wiki/Philip_Seymour_Hoffman', '/wiki/Forest_Whitaker', '/wiki/Daniel_Day-Lewis', '/wiki/Sean_Penn', '/wiki/Jeff_Bridges', '/wiki/Colin_Firth', '/wiki/George_Clooney', '/wiki/Daniel_Day-Lewis', '/wiki/Matthew_McConaughey', '/wiki/Michael_Keaton', '/wiki/Leonardo_DiCaprio', '/wiki/Casey_Affleck', '/wiki/Gary_Oldman', '/wiki/Christian_Bale', '/wiki/Joaquin_Phoenix', '/wiki/Golden_Globe_Award_for_Best_Actor_%E2%80%93_Miniseries_or_Television_Film', '/wiki/Mickey_Rooney', '/wiki/Anthony_Andrews', '/wiki/Richard_Chamberlain', '/wiki/Ted_Danson', '/wiki/Dustin_Hoffman', '/wiki/James_Woods', '/wiki/Randy_Quaid', '/wiki/Michael_Caine', '/wiki/Stacy_Keach', '/wiki/Robert_Duvall', '/wiki/James_Garner', '/wiki/Beau_Bridges', '/wiki/Robert_Duvall', '/wiki/James_Garner', '/wiki/Raul_Julia', '/wiki/Gary_Sinise', '/wiki/Alan_Rickman', '/wiki/Ving_Rhames', '/wiki/Stanley_Tucci', '/wiki/Jack_Lemmon', '/wiki/Brian_Dennehy', '/wiki/James_Franco', '/wiki/Albert_Finney', '/wiki/Al_Pacino', '/wiki/Geoffrey_Rush', '/wiki/Jonathan_Rhys_Meyers', '/wiki/Bill_Nighy', '/wiki/Jim_Broadbent', '/wiki/Paul_Giamatti', '/wiki/Al_Pacino', '/wiki/Idris_Elba', '/wiki/Kevin_Costner', '/wiki/Michael_Douglas', '/wiki/Billy_Bob_Thornton', '/wiki/Oscar_Isaac', '/wiki/Tom_Hiddleston', '/wiki/Ewan_McGregor', '/wiki/Darren_Criss', '/wiki/Russell_Crowe', '/wiki/Saturn_Award_for_Best_Actor_on_Television', '/wiki/Kyle_Chandler', '/wiki/Steven_Weber_(actor)', '/wiki/Richard_Dean_Anderson', '/wiki/David_Boreanaz', '/wiki/Robert_Patrick', '/wiki/Ben_Browder', '/wiki/David_Boreanaz', '/wiki/David_Boreanaz', '/wiki/Ben_Browder', '/wiki/Matthew_Fox', '/wiki/Michael_C._Hall', '/wiki/Matthew_Fox', '/wiki/Edward_James_Olmos', '/wiki/Josh_Holloway', '/wiki/Stephen_Moyer', '/wiki/Bryan_Cranston', '/wiki/Bryan_Cranston', '/wiki/Mads_Mikkelsen', '/wiki/Hugh_Dancy', '/wiki/Andrew_Lincoln', '/wiki/Bruce_Campbell', '/wiki/Andrew_Lincoln', '/wiki/Kyle_MacLachlan', '/wiki/Sam_Heughan', '/wiki/Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Male_Actor_in_a_Miniseries_or_Television_Movie', '/wiki/Raul_Julia', '/wiki/Gary_Sinise', '/wiki/Alan_Rickman', '/wiki/Gary_Sinise', '/wiki/Christopher_Reeve', '/wiki/Jack_Lemmon', '/wiki/Brian_Dennehy', '/wiki/Ben_Kingsley', '/wiki/William_H._Macy', '/wiki/Al_Pacino', '/wiki/Geoffrey_Rush', '/wiki/Paul_Newman', '/wiki/Jeremy_Irons', '/wiki/Kevin_Kline', '/wiki/Paul_Giamatti', '/wiki/Al_Pacino', '/wiki/Paul_Giamatti', '/wiki/Kevin_Costner', '/wiki/Michael_Douglas', '/wiki/Mark_Ruffalo', '/wiki/Idris_Elba', '/wiki/Bryan_Cranston', '/wiki/Alexander_Skarsg%C3%A5rd', '/wiki/Darren_Criss', '/wiki/Sam_Rockwell', '/wiki/BIBSYS_(identifier)', '/wiki/BNE_(identifier)', '/wiki/BNF_(identifier)', '/wiki/GND_(identifier)', '/wiki/ISNI_(identifier)', '/wiki/LCCN_(identifier)', '/wiki/LNB_(identifier)', '/wiki/MBA_(identifier)', '/wiki/NKC_(identifier)', '/wiki/NLA_(identifier)', '/wiki/NLI_(identifier)', '/wiki/NLP_(identifier)', '/wiki/NTA_(identifier)', '/wiki/PLWABN_(identifier)', '/wiki/RERO_(identifier)', '/wiki/SNAC-ID_(identifier)', '/wiki/SUDOC_(identifier)', '/wiki/Trove_(identifier)', '/wiki/VIAF_(identifier)', '/wiki/WorldCat_Identities_(identifier)']

We are going to write a function called getLinks using the codes above.
- The function will take each of the URL above in the form /wiki/... and returns a list of URL in the same form.
- Then a random article link will be chosen from the returned list. It will stop once you stop the program or no new links are found on the page.

In [39]:
from urllib.request import urlopen
import random
import re
import datetime

In [40]:
random.seed(datetime.datetime.now())
def getLinks(articleUrl):
  html = urlopen('http://en.wikipedia.org{}'.format(articleUrl))
  bs = BeautifulSoup(html, 'html.parser')
  return bs.find('div', {'id':'bodyContent'}).find_all('a', href=re.compile('^(/wiki/)((?!:).)*$'))

In [41]:
#
links = getLinks('/wiki/Kevin_Bacon')
while len(links) in range(0,10):
  newArticle = links[random.randint(0, len(links)-1)].attrs['href']
  print(newArticle)

Crawling entire site

In [42]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
pages = set()
def getLinks(pageUrl):
  global pages
  html = urlopen('http://en.wikipedia.org{}'.format(pageUrl))
  bs = BeautifulSoup(html, 'html.parser')
  try:
    print(bs.h1.get_text())
    print(bs.find(id ='mw-content-text').find_all('p')[0])
    print(bs.find(id='ca-edit').find('span').find('a').attrs['href'])
  except AttributeError:
    print('This page is missing something! Continuing.')
  
  for link in bs.find_all('a', href=re.compile('^(/wiki/)')):
    if 'href' in link.attrs:
      if link.attrs['href'] not in pages:
        #We have encountered a new page
        newPage = link.attrs['href']
        print('-'*20)
        print(newPage)
        pages.add(newPage)
        getLinks(newPage)
#getLinks('')

In [43]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup

url = 'https://news.ycombinator.com/'
data = urllib.request.urlopen(url).read()
soup = BeautifulSoup(data, 'html.parser')

In [44]:
name = soup.find_all('a', 'href')
print(name)

[]

# Amazon Price

In [45]:
import lxml
import requests
from bs4 import BeautifulSoup

In [46]:
url = 'https://www.amazon.com/gp/product/B07RKYQGG4?pf_rd_r=4B2JNCJTA40ZZRWNQD8X&pf_rd_p=5ae2c7f8-e0c6-4f35-9071-dc3240e894a8'
header = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9"
}

In [47]:
data = requests.get(url, headers = header)
soup = BeautifulSoup(data.content, 'lxml')

In [48]:
price = soup.find('span', class_="a-size-medium a-color-price priceBlockBuyingPriceString").get_text()
print(price)
#<span id="priceblock_ourprice" class="a-size-medium a-color-price priceBlockBuyingPriceString">$29.99</span>

$29.99

In [49]:
price_num = float(price.split('$')[1])
print(price_num)

29.99

In [50]:
type(price_num)

float